/* Mon fichier css */

/* Eviter les padding et margin par defaut */
*{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

/* centrer le site */
.container{
    margin:0px auto;
}

.bg-cover-left{
    background: url(../images/Pattern.jpg);
    height: 500px;
    background-size:cover;
}

.my-marging{
    margin-top: 20px;
}

.img-center{
    margin:0px auto;
}

.logowrapper{
    display: flex;
}
