/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  margin:0px auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.containerfoot {
  width: auto;
  max-width: auto;
  padding: 0 15px;
}
.containerfoot .text-muted {
  margin: 20px 0;
}

.my-social{
    margin-top: 8px;
}

.my-sponsor1{
    margin-top: 18px;
    margin-left: 5px;
    margin-right: 5px;
    
    float: right;
}

.my-sponsor2{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

.my-sponsor3{
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
