<p
            class="text-muted text-center containerfoot"><a href="http://www.eiffage.sn/" target="_blank"><img src="images/myEiffage_0072_01_colour_RGB.png" class="img-\
responsive img-center" /></a>
          </p>







<section class="col-md-6">
          <p style="margin: 20px 0px 10px;"
            class="text-muted text-center containerfoot">&copy; Partcours.net -  fièrement propulsé par <a href="https://www.linkedin.com/in/edgar-ekoue-afoutou-1157631\
4" target="_blank">Box01</a>
          </p>
        </section>

