<footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; Partcours.net -  fièrement propulsé par <a href="https://www.linkedin.com/in/edgar-ekoue-afoutou-11576314">Box01</a></p>


        
        <ul class="nav navbar-nav navbar-right">
          <a href="http://www.rawmaterialcompany.org/index.php" target="_blank"><button class="btn mysocial"><img src="images/myLogos-01.png" class="img-responsive img-center" /></button></a>
          <a href="http://bit.ly/1NjnhD9" target="_blank"><button class="btn mysocial"><img src="images/myLogos-02.png" class="img-responsive img-center" /></button></a>
          <a href="http://www.eiffage.sn/" target="_blank"><button class="btn mysocial"><img src="images/myEiffage_0072_01_colour_RGB.png" class="img-responsive img-center" /></button></a>
        </ul>
      </div>
    </footer>
    
    
    
    
    
    <footer class="footer">
      <div class="container">
        <div style="width: auto; float: left;">
          <p style="margin: 20px 0px 10px;" class="text-muted">&copy; Partcours.net -  fièrement propulsé par <a href="https://www.linkedin.com/in/edgar-ekoue-afoutou-11576314">Box01</a></p>
        </div>
        <div style="width: auto; float: right;">
          <ul class="nav navbar-nav navbar-right">
          <a href="http://www.rawmaterialcompany.org/index.php" target="_blank" class="my-sponsor1"><img src="images/my-Logos-Raw.png" class="img-responsive img-center" style="float: left; margin-right: 1%;" /></a>
          <a href="http://bit.ly/1NjnhD9" target="_blank" class="my-sponsor2"><img src="images/my-Logo CA-01.png" class="img-responsive img-center" style="margin-right: 1%;" /></a>
          <a href="http://www.eiffage.sn/" target="_blank" class="my-sponsor3"><img src="images/myEiffage_0072_01_colour_RGB.png" class="img-responsive img-center" style="float: right; margin-right: 1%;" /></a>
        </ul>
        </div>
      </div>
    </footer>
